@media (max-width:1500px) {
    .header-caption-block__main-text {
        font-size: 84px;
        margin-bottom: 10px;
        margin-top: 55px;
    }
    .header-contain{
        background-size: contain;
    }
    .header-caption-block__btn{
        margin-bottom: 20px;
    }
    .header-slider-control-btn-block{
        padding-bottom: 200px;
    }
    .present__img-right {
        height: 75%;
    }
    .advantages_bg {
        bottom: 100px;
    }
    .present_img-bg {
        margin-top: 100px;
        width: 407px;
        height: 302px;
    }
    .present__img {
        margin-top: 20px;
    }
    .present-block-text {
        margin-top: 17px;
    }
    .present__text {
        font-size: 22px;
    }
    .advantages_bg {
        height: 380px;
    }
    .work{
        height: 420px;
    }
    .work-stages{
        display: flex;
        justify-content: center;
    }
    .work__header{
        margin-bottom: 30px;
    }
    .work-stages>img{
        width:70%
    }
    .coment-slider{
        padding:50px 0 ;
    }
    .about-us-block>img {
        width: 50%;
    }
    .about-us-block>span {
        width: 45%;
        font-size: 22px;
    }
}
@media (max-width:1250px) {
    .header-contain{
        width: 900px;
    }
    .advantages{
        background-size: 140%;
    }
    .advantages_bg{
        background-position-y: -40%;
    }
    .present__img-right{
        height: 70%;
    }
}
@media (max-width:1250px) {
    .header-caption-block__text{
        margin-bottom: 20px;
    }
    .header-next-block{
        bottom: 34px;
    }
    .catalog-wrap {
        width: 908px;
        justify-content: center;
    }
    .catalog-card{
        margin-right: 27px;
        margin-left: 27px;
    }
    .carousel-inner{
        padding:10px;
    }
    .coment-card{
        width: 230px;
        margin: 15px;
    }
    .coment-card__text{
        font-size: 10px;
    }
    .footer-block-relation{
        flex-direction: column;
    }
    .footer-block-relation-soc{
        padding-top: 17px;
    }
    .footer-relation-soc-info{
        margin-top: 20px;
    }
    .footer-nav{
        width:90%;
        display:flex;
        justify-content: space-between;
    }
    .footer-block-relation-phone{
        padding-right: 0;
    }
    .footer-nav__item{
        font-size: 13px;
        padding-bottom: 10px;
    }
    .footer-nav__item a{
        font-size: 13px;
    }
    .footer-nav__item>.footer-nav__link{
        font-size: 14px;
    }
}
@media (max-width:1250px) {
    
}