@media (max-width:1500px) {
    .header-caption-block__main-text {
        font-size: 84px;
        margin-bottom: 10px;
        margin-top: 55px;
    }
    .header-contain {
        background-size: contain;
    }
    .header-caption-block__btn {
        margin-bottom: 20px;
    }
    .header-slider-control-btn-block {
        padding-bottom: 200px;
    }
    .present__img-right {
        height: 75%;
    }
    .advantages_bg {
        bottom: 100px;
    }
    .present_img-bg {
        margin-top: 100px;
        width: 407px;
        height: 302px;
    }
    .present__img {
        margin-top: 20px;
    }
    .present-block-text {
        margin-top: 17px;
    }
    .present__text {
        font-size: 22px;
    }
    .advantages_bg {
        height: 380px;
    }
    .work {
        height: 420px;
    }
    .work-stages {
        display: flex;
        justify-content: center;
    }
    .work__header {
        margin-bottom: 30px;
    }
    .work-stages>img {
        width: 70%
    }
    .coment-slider {
        padding: 50px 0;
    }
    .about-us-block>img {
        width: 50%;
    }
    .about-us-block>span {
        width: 45%;
        font-size: 22px;
    }
}

@media (max-width:1250px) {
    .header-contain {
        width: 900px;
    }
    .advantages {
        background-size: 140%;
    }
    .advantages_bg {
        background-position-y: -40%;
    }
    .present__img-right {
        height: 70%;
    }
}

@media (max-width:1250px) {
    .header-caption-block__text {
        margin-bottom: 20px;
    }
    .header-next-block {
        bottom: 34px;
    }
    .catalog-wrap {
        width: 908px;
        justify-content: center;
    }
    .catalog-card {
        margin-right: 27px;
        margin-left: 27px;
    }
    .carousel-inner {
        padding: 10px;
    }
    .coment-card {
        width: 230px;
        margin: 15px;
    }
    .coment-card__text {
        font-size: 10px;
    }
    .footer-nav-wrap{
        margin-right: 0;
    }
    .footer-block-relation {
        flex-direction: column;
    }
    .footer-block-relation-soc {
        padding-top: 17px;
    }
    .footer-relation-soc-info {
        margin-top: 20px;
    }
    .footer-nav {
        width: 72%;
        display: flex;
        justify-content: space-between;
    }
    .footer-block-relation-phone {
        padding-right: 0;
    }
    .footer-nav__item {
        font-size: 13px;
        padding-bottom: 10px;
    }
    .footer-nav__item a {
        font-size: 13px;
    }
    .footer-nav__item>.footer-nav__link {
        font-size: 14px;
    }
    .bread-crumbs{
        width:85%
    }
    .section-grid-wrap{
        justify-content: space-around;
    }
}

@media (max-width:950px) {
    .nav-block {
        width: 600px;
    }
    .nav-list {
        flex-grow: 2;
        margin: auto;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-top: 40px;
        z-index: 1;
        position: relative;
        height: auto;
        text-align: center;
        width: 120px;
    }
    .nav-list-burger {
        display: none;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .nav-list-burger__line {
        margin: 0;
        margin-bottom: 5px;
        height: 4px;
        background-color: #fff;
        border-radius: 10%;
    }
    .nav-list-burger__line_black{
        margin: 0;
        margin-bottom: 5px;
        height: 4px;
        background-color: #000;
        border-radius: 10%;
    }
    .nav-item {
        margin: 0 auto;
        display: none;
        padding-right: 0px;
    }
    .menu__btn {
        display: flex;
        left:10px;
    }
    .header-contain {
        width: 600px
    }
    .header-caption-block {
        margin: auto
    }
    .header-caption-block__text {
        width: 450px;
    }
    .header-slider-control-btn-block {
        align-self: flex-end;
    }
    .header-slider-control {
        display: none;
    }
    .present__img-right {
        display: none;
    }
    .advantages {
        background-size: 155%;
    }
    .work-stages>img {
        width: 90%;
    }
    .coment-slider {
        padding: 90px 0;
        box-sizing: content-box;
    }
    .coment-block {
        flex-direction: column;
    }
    .coment-card {
        width: 282px;
        height: 127px;
        box-shadow: 2px 6px 22px rgba(0, 0, 0, 0.15);
        border-radius: 17px;
        padding: 24px 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5px 15px;
    }
}

@media (max-width:800px) {
    .catalog-wrap {
        width: 450px
    }
    .coment {
        scroll-padding-bottom: 0px;
    }
    .about-us-block {
        flex-direction: column;
    }
    .about-us-block img {
        width: 90%;
        align-self: flex-start;
    }
    .about-us-block_position-end img {
        align-self: flex-end;
        order: 1;
    }
    .about-us-block_position-end span {
        order: 2;
    }
    .about-us-block span {
        width: 90%;
    }
    .footer-nav {
        width: 90%;
        justify-content: space-between;
        flex-direction: column;
    }
    .footer-nav-wrap {
        margin-right: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .footer-nav__item {
        font-size: 13px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .footer-block-relation-soc {
        display: block;
    }
}

@media (max-width:620px) {
    /* .nav{
        background-color: #00000052;
    } */
    .nav-block {
        width: 95%;
    }
    .header-contain {
        width: 95%;
    }
    .header-caption-block__text {
        width: 320px;
        font-size: 26px;
    }
    .phone {
        width: auto;
    }
    .toTop{
        right: 20px;
    }
    .present__text {
        font-size: 17px;
    }
    .advantages_bg{
        /* display: none; */
    }
    .catalog__header {
        margin-top: 150px;
    }
}

@media (max-width:450px) {
    .header-content{
        position: fixed;
        z-index: 4;
    }
    .header-contain{
        margin: auto;
    }
    .nav-list {
        width: auto;
        padding-left: 0;
    }
    .carousel-control {
        display: none;
    }
    .header-contain {
        flex-direction: column;
    }
    .header-link-block {
        display: flex;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        width: 90px;
    }
    .header-caption-block__main-text {
        margin-top: 0px;
        line-height: 100%;
        font-size: 54px;
    }
    .header-caption-block__text {
        width: 300px;
        font-size: 20px;
    }
    .phone-wrap {
        display: none;
    }
    .phone {
        min-width: 58px;
    }
    .phone-icon {
        margin: auto;
    }
    .header-slider-control-btn-block {
        padding-bottom: 60px;
    }
    .header-next-block {
        display: none;
    }
    .present_img-bg {
        margin-top: 50px;
        width: 307px;
        height: 242px;
    }
    .catalog-wrap {
        width: 320px;
    }
    .catalog-card {
        width: 100%;
        height: 290px;
    }
    .coment-card {
        padding: 8px 15px;
        margin: 5px 0;
    }
    .catalog-card img {
        width: 100%;
        height: 100%;
    }
    .carousel-inner {
        padding: 0px;
    }
    .work__header {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .advantages_bg {
        bottom: -170px;
    }
    .advantages {
        height: 280px;
    }
    .catalog__header {
        z-index: 2;
        margin-top: 50px;
    }
    .catalog {
        padding-bottom: 50px;
    }
    .work {
        height: 220px;
    }
    .work-bg_fff {
        height: 10%;
    }
    .coment {
        padding-bottom: 50px;
        padding-top: 100px;
    }
    .coment__header {
        margin-bottom: 20px;
        margin-top: 10px;
    }
}