.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header-content {
    width: 100%;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 91px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-block {
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-image: url(../img/logo.png);
    height: 80px;
    width: 58px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-top: 33px;
}

.nav-item {
    padding-right: 34px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.nav-item__link {
    color: #fefefe;
    transition: all .5s;
}

.nav-item__link:hover, .nav-item__link:checked, .nav-item__link:active, .nav-item__link:focus {
    color: #E53333;
    text-decoration: none;
}

.nav-item__link:active {
    color: #E53333;
    text-decoration: none;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 162px;
}

.phone-icon {
    display: block;
    background-image: url(../img/phone.png);
    width: 21px;
    height: 21px;
}

.phone-wrap {
    padding-top: 33px;
    list-style: none;
    padding-left: 0;
}

.phone-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 137.1%;
    outline: none;
    transition: all .5s;
}

.phone-link:hover, .phone-link:focus, .phone-link:active {
    text-decoration: none;
    color: #E53333;
}

.phone-link {
    color: #fefefe;
}

.slider {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
}

#viewport {
    background-color: #000;
    width: 100%;
    display: table;
    position: absolute;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: -1;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
    background-color: #000;
}

.slide-img {
    width: 100%;
    height: 100vh;
    filter: opacity(.4)
}

/* .slider__item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: opacity(.4)
} */

/* .slider_item__1st {
    background-image: url(../img/header-bg.jpg);
}

.slider_item__2st {
    background-image: url(../img/header-bg2.png);
    display: none;
}

.slider_item__3st {
    background-image: url(../img/header-bg3.png);
    display: none;
}

.slider_item__4st {
    background-image: url(../img/header-bg4.png);
    display: none;
} */

.header-contain {
    background-image: url(../img/Polygon.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.header-link-block {
    display: flex;
    flex-direction: column;
    height: 109px;
    justify-content: space-between;
}

.header-link-block__img {
    width: 23px;
    height: 23px;
}

.header-link-block__insta {}

.header-link-block__fb {}

.header-link-block__vk {}

.header-caption-block {
    color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-caption-block__main-text {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 134px;
    line-height: 157px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 170px;
}

.header-caption-block__text {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    text-align: center;
    width: 590px;
    margin: 0;
    margin-bottom: 50px;
}

.header-caption-block__btn {
    display: flex;
    width: 226px;
    height: 45px;
    background-color: #FFF900;
    background-image: linear-gradient(#FFF900 0%, #FFAC00 86.82%);
    border-radius: 15px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
    outline: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.header-caption-block__btn:hover {
    outline: none;
    color: #000;
    text-decoration: none;
    background-image: linear-gradient(#FFAC00 0%, #FFF900 86.82%);
}

.header-caption-block__btn:active {
    color: #000;
    text-decoration: none;
    outline: none;
    font-size: 17px;
}

.header-caption-block__btn:focus {
    outline: none;
    color: #000;
    text-decoration: none;
}

.header-slider-control-number-block {
    display: flex;
    flex-direction: column;
    height: 161px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: #FFF;
    list-style:none;
    margin: 0;
    padding:0;
}

.header-slider-control-number-block__item {
    color: rgba(255, 255, 255, 0.644);
    transition: all .3s;
    width: 20px;
}

.header-slider-control-number-block__item_active {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
    text-decoration: line-through;
    text-decoration-color: #E53333;
}

.header-slider-control-btn-block {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding-bottom: 116px;
}

.header-slider-control-btn-block__btn {
    width: 39px;
    height: 39px;
    border: none;
    background-color: transparent;
    background-image: url(../img/sprite-slider-control.png);
    background-repeat: no-repeat;
    outline: none;
}

.header-slider-control-btn-block__prev {
    background-position-y: top;
}

.header-slider-control-btn-block__prev:hover, .header-slider-control-btn-block__next:hover {
    background-position-y: bottom;
}

.header-slider-control-btn-block__next {
    margin-left: 8px;
    background-position-x: right;
    background-position-y: top;
}

.header-next-block {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 24px;
}

.header-next-block-circle__btn {
    background-color: transparent;
}

.present {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/present-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0px;
    background-position-x: center;
    height: 100%;
    width: 100%;
    top: -50px;
    z-index: 1;
    background-color: transparent;
}

.present_img-bg {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 180px;
    align-items: center;
    background-image: url(../img/present-text-bg.png);
    background-size: cover;
    width: 557px;
    height: 422px;
}

.present__img {
    z-index: 1;
    margin-top: 67px;
}

.present-block-text {
    margin-top: 37px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.present__text {
    font-weight: normal;
    font-size: 32px;
    line-height: 150%;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.present__text_up-color {
    text-transform: uppercase;
    color: #E53333;
    font-weight: bold
}

.present__img-right {
    position: absolute;
    right: 0;
    height: 80%;
}

.advantages {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    left: 0;
    z-index: 2;
    width: 100%;
    background-image: url(../img/why-we-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 880px;
}

/* .advantages::before{
    display: flex;
    content: "";
    background-image: url(../img/catalog-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 880px;
    width: 100%;
    z-index: -1;
} */

.advantages_bg {
    display: flex;
    position: relative;
    background-image: url(../img/catalog-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -20%;
    height: 500px;
    width: 100%;
    bottom: 0;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background-image: url(../img/catalog-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 200px;
}

.catalog__header {
    margin-top: 400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

.catalog-wrap {
    width: 1148px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.catalog-card {
    width: 346px;
    height: 348px;
    background-color: #000;
    margin-bottom: 55px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.catalog-card-bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 348px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.catalog-card img {
    position: relative;
    z-index: 1;
    width: 346px;
    height: 348px;
    transition: all .5s ease;
}

.catalog-card img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.catalog-card-bg .catalog-card-bg {
    position: absolute;
    z-index: 2;
}

.catalog-card-filter {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    background: linear-gradient(to bottom, #00000050, #000);
    border-bottom-right-radius: 30px;
    z-index: 2;
    bottom: 0;
    width: 100%;
}

.catalog-card__text {
    margin-left: 50px;
    color: #fff
}

.work {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.work-bg_f5f5f5 {
    background-color: #f5f5f5;
    height: 60%;
    width: 100%;
}

.work-bg_fff {
    height: 50%;
    background-image: url(../img/bg-fff-50.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.work-content {
    position: absolute;
}

.work__header {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 70px;
}

.work-stages {}

.work-stage-text {}

.work-stage__text {}

.work-stage__1 {}

.work-stage__2 {}

.work-stage__3 {}

.work-stage__4 {}

.work-stage__5 {}

.coment {
    display: flex;
    width: 100%;
    height: auto;
    background-image: url(../img/coment-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}

.coment-slider {
    padding: 50px
}

.coment-block {
    display: flex;
}

.coment__header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 70px;
    margin-top: 200px;
}

.coment-slider-indicators__item {
    width: 20px !important;
    height: 20px !important;
}

.carousel-indicators li {
    margin: 5px 10px;
    border: 1px solid #E53333;
}

.carousel-indicators .active {
    background-color: #E53333 !important;
    margin: 5px 10px
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control {
    opacity: 1;
}

.carousel-control .icon-prev {
    left: 0 !important;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    background-image: url(../img/keyboard-left-arrow-button.png);
}

.carousel-control .icon-prev::before {
    content: '';
}

.carousel-control .icon-next {
    left: 100% !important;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    background-image: url(../img/keyboard-right-arrow-button.png);
}

.carousel-control .icon-next::before {
    content: '';
}

.coment-card {
    width: 282px;
    height: 327px;
    box-shadow: 2px 6px 22px rgba(0, 0, 0, 0.15);
    border-radius: 17px;
    padding: 44px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px;
}

.coment-card__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.coment-card__author {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #F73F3F;
}

.about-us {
    width: 100%;
    padding-bottom: 110px;
}

.about-us__header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

.about-us-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.about-us-block_position-end {
    justify-content: flex-end;
}

.about-us-block__text {
    width: 700px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 140%;
}

.footer {
    background: #100F0F;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    display: flex;
    max-width: 1200px;
    margin: 50px 0;
}

.footer-nav-wrap {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 100px;
}

.footer-nav__item {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FEFEFE;
    padding-bottom: 20px;
}

.footer-nav__item>a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FEFEFE;
    text-decoration: none;
}

.footer-nav__item>a:hover {
    color: #F73F3F
}

.p-0 {
    padding: 0;
}

.footer-block-relation {
    display: flex;
}

.footer-block-relation-phone {
    padding-right: 100px;
}

.footer-block-relation-phone>.footer-nav-wrap {
    margin-top: 15px;
}

.footer-nav__item>.footer-nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #FEC76C;
}

.footer-nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #FEC76C;
}

.footer-block-relation-soc {
    display: flex;
    flex-direction: column;
    padding-top: 37px;
}

.footer-relation-soc-info {
    margin-top: 40px;
}

.footer-block-relation-enternet {
    padding-bottom: 22px;
}

.footer-block-relation-enternet__item>img {
    margin-top: 22px;
    margin-right: 6px;
    width: 30.33px;
    height: 30px;
}

.line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent 15%, #fff 50%, transparent 85%);
}

.footer-copyright {
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 150%;
    color: #FEFEFE;
}

.footer-copyright__text {}